In [ ]:
x = [1, 2, 3, 4]

In [10]:
x

[1, 2, 3, 4]

In [11]:
print (x)

[1, 2, 3, 4]

In [12]:
y = 8

In [13]:
Y

NameError: name 'Y' is not defined

In [14]:
x,y = (1,2)

In [15]:
x

1

In [16]:
y

2

In [17]:
x1 = 5

In [18]:
type(x1)

int

In [19]:
type(-6)

int

In [20]:
x2 = 4.75

In [21]:
type(x2)

float

In [22]:
int(x2)

4

In [23]:
float(5)

5.0

In [24]:
x3 = True

In [25]:
type(x3)

bool

In [26]:
George

NameError: name 'George' is not defined

In [27]:
'George'

'George'

In [28]:
"George"

'George'

In [29]:
print('George')

George

In [30]:
print("George")

George

In [31]:
x4 = 'George'

In [32]:
x4

'George'

In [33]:
y = 10
print (y + " Dollars")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
y = 10
print (str(y) + " Dollars")

10 Dollars

In [36]:
'I'm fine'

SyntaxError: invalid syntax (<ipython-input-36-4b03f9290adb>, line 1)

In [37]:
"I'm fine"

"I'm fine"

In [38]:
"I\'m fine"

"I'm fine"

In [52]:
'Aren\'t you hungry?'

"Aren't you hungry?"

In [39]:
'Press "Enter"'

'Press "Enter"'

In [40]:
'Red''Car'

'RedCar'

In [41]:
'Red ''Car'

'Red Car'

In [42]:
'Red ' + 'Car'

'Red Car'

In [43]:
print ('Red ' + 'Car')

Red Car

In [44]:
print ('Red','Car')

Red Car

In [46]:
print (3, 5, 6.9, 'car')

3 5 6.9 car

In [47]:
print ("Peter")

Peter

In [50]:
x9 = "Joshua"
print (x9)

Joshua

In [51]:
x9

'Joshua'

In [1]:
1 + 2

3

In [2]:
3 - 5

-2

In [3]:
16 / 3

5.333333333333333

In [4]:
float (16) / 3

5.333333333333333

In [5]:
16 % 3

1

In [6]:
x = 5*3

In [7]:
x

15

In [8]:
y3 = 5 ** 6

In [9]:
y3

15625

In [11]:
y3 == 15625

True

In [12]:
y3 == 15635

False

In [13]:
"Friday"[4]

'a'

In [14]:
print('Holidays!'[6])

y

In [21]:
def five(x):
    x = 5
    return x #block of code/command 1

print (five(3)) #block of code/command 2

5

In [19]:
print (five(3))

5

In [20]:
print (five(x))

5

In [22]:
def five(x):
    x = 5
    return x

In [23]:
x

15

In [24]:
print(five)

<function five at 0x106ac24d0>

In [25]:
10 == 20 / 2

True

In [26]:
10 != 10

False

In [27]:
10 != 15

True

In [28]:
100 > 50

True

In [30]:
100 < 50

False

In [31]:
15 >= 10+10

False

In [32]:
True and True

True

In [33]:
False and False

False

In [42]:
False and True

False

In [34]:
True or True

True

In [35]:
False or False

False

In [36]:
True or False

True

In [37]:
False or True

True

In [39]:
not True

False

In [40]:
not False

True

In [41]:
3 > 5 and 10 <= 20

False

In [44]:
True and not True # NOT True means false, same as: True and False

False

In [45]:
False or not True and True 
# Consider NOT: False or False(not True) and True: False or False and True
# Consider AND: False or (False and True): False or False
# Consider OR: False or False = False

False

In [46]:
True and not True or True

True

In [47]:
5 is 6

False

In [48]:
5 is not 6

True

In [49]:
if 5 == 15 / 3:
    print("Hooray!")

Hooray!

In [50]:
if 5 == 18 / 3:
    print("Hooray!")

In [51]:
if 5 != 18 / 3:
    print("Hooray!")

Hooray!

In [56]:
x = 1

if x > 3:
    print ("case 1") 
if x <= 3:
    print ("case 2")

case 2

In [57]:
x = 1

if x > 3:
    print ("case 1") 
else:
    print ("case 2")

case 2

In [76]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [77]:
print (compare_to_five(10))

Greater

In [78]:
print (compare_to_five(2))

Less

In [79]:
print (compare_to_five(5))

Equal

In [80]:
print (compare_to_five(-3))

Negative

In [81]:
x = 2

if x > 4:
    print ("Correct")
else:
    print ("Incorrect")

Incorrect

In [1]:
def simple():
    print ("My first function")

In [2]:
simple()

My first function

In [5]:
def plus_ten(a):
    a = 10
    return a

In [6]:
plus_ten(12)

10

In [7]:
def plus_ten(a):
    return a + 10

In [8]:
plus_ten(12)

22

In [10]:
def plus_ten(a):
    result = a + 10
    return result

In [11]:
plus_ten(45)

55

In [12]:
def plus_ten(a):
    result = a + 10
    print("Outcome")
    return result

In [13]:
plus_ten(23)

Outcome

33

In [14]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [15]:
wage(8), with_bonus(8)

(200, 250)

In [34]:
def saving_add_ten(y):
    if y >= 100:
        y = y + 10
        return y
    else:
        return "Save More"

In [35]:
saving_add_ten(3)

'Save More'

In [36]:
saving_sum(100)

100

In [37]:
def subtract_bc(a,b,c):
    result = a - b*c
    print('Parameter a is', a)
    print('Parameter b is', b)
    print('Parameter c is', c)
    return result

In [38]:
subtract_bc(45,62,41)

Parameter a is 45
Parameter b is 62
Parameter c is 41

-2497

In [39]:
subtract_bc(b=45,a=62,c=41)

Parameter a is 62
Parameter b is 45
Parameter c is 41

-1783

In [40]:
int(5.0)

5

In [41]:
float(5)

5.0

In [42]:
str(500)

'500'

In [43]:
max(30, 50, 78)

78

In [44]:
min(30, 50, 78)

30

In [45]:
z = -20
abs(z)

20

In [46]:
list_1 = [30, 50, 78]

In [48]:
sum (list_1)

158

In [49]:
round(3.556,2)

3.56

In [50]:
round(3.556)

4

In [51]:
pow(2,10)

1024

In [52]:
len("Mathematics")

11

In [53]:
Participants = ['John', 'Leila', 'Gregory', 'Cynthia']

In [54]:
Participants

['John', 'Leila', 'Gregory', 'Cynthia']

In [55]:
print (Participants [2])

Gregory

In [56]:
print (Participants [-2])#counting from the back, starting from -1

Gregory

In [58]:
Participants[3] = 'Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [59]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [70]:
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [72]:
Participants.extend(['Matthew', 'Catherine', 'Julia'])
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'Matthew', 'Catherine', 'Julia']

In [75]:
print ('The first participant is ' + Participants[0] + '.')

The first participant is John.

In [76]:
len(Participants)

7

In [79]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'Matthew', 'Catherine', 'Julia']

In [77]:
Participants[1:3]

['Leila', 'Maria']

In [78]:
Participants[:2]

['John', 'Leila']

In [80]:
Participants[4:]

['Matthew', 'Catherine', 'Julia']

In [81]:
Participants[-2:]

['Catherine', 'Julia']

In [82]:
Participants.index("Julia")

6

In [84]:
New_Comers = ['Joshua', 'Aubrey']
New_Comers

['Joshua', 'Aubrey']

In [87]:
Full_List = [Participants, New_Comers]
Full_List

[['John', 'Leila', 'Maria', 'Dwayne', 'Matthew', 'Catherine', 'Julia'],
 ['Joshua', 'Aubrey']]

In [89]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'John', 'Julia', 'Leila', 'Maria', 'Matthew']

In [94]:
Numbers = [1, 3, 5, 6, 9, 2]
Numbers.sort()
Numbers

[1, 2, 3, 5, 6, 9]

In [96]:
Numbers = [1, 3, 5, 6, 9, 2]
Numbers.sort(reverse=True)
Numbers

[9, 6, 5, 3, 2, 1]

In [97]:
 x = 50, 60, 70

In [98]:
y = 80, 90, 100

In [99]:
list_3 = [x,y]

In [100]:
list_3

[(50, 60, 70), (80, 90, 100)]

In [101]:
y[0]

80

In [102]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print("Area and Perimeter")
    return A, P

In [104]:
square_info(5)

Area and Perimeter

(25, 20)

In [105]:
dict = {'k1':"cat", 'k2':"dog", 'k3':"mouse",'k4':"fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [107]:
dict['k1']

'cat'

In [108]:
dict['k5'] = "Python"

In [109]:
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'Python'}

In [110]:
dict['k2'] = "Boa"
dict

{'k1': 'cat', 'k2': 'Boa', 'k3': 'mouse', 'k4': 'fish', 'k5': 'Python'}

In [111]:
dep_workers = {'dept_1': 'Peter', 'dept_2':['Jennifer', 'Michael', 'Amy']}

In [113]:
dep_workers['dept_2']

['Jennifer', 'Michael', 'Amy']

In [117]:
Music = {}
Music['String'] = 'Cello'
Music['Percussion'] = 'Drum'
Music['Wind'] = 'Trumpet'
print (Music)

{'String': 'Cello', 'Percussion': 'Drum', 'Wind': 'Trumpet'}

In [119]:
print(Music.get('String'))

Cello

In [120]:
print(Music.get('Iron'))

None