In [4]:
import pandas as pd

In [6]:
raw_csv_data = pd.read_csv('98.1.Exercise_Files/Absenteeism_data.csv')

In [9]:
raw_csv_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [23]:
df = raw_csv_data.copy()

In [24]:
df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,3,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,20,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,11,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,10,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,11,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,30,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,11,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,3,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
670,14,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,28,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,36,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,22,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,1,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,29,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,25,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,34,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,5,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,22,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,15,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,29,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,26,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,29,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,22,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,36,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,36,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,34,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,36,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,22,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,23,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,17,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,14,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,25,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,15,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [25]:
pd.options.display.max_columns = None
pd.options.display.min_rows = None
# = 'Set no maximum value'

In [26]:
display(df)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,3,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,20,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,11,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,10,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,11,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,30,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,11,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,3,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
670,14,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,28,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,36,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,22,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,1,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,29,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,25,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,34,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,5,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,22,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,15,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,29,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,26,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,29,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,22,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,36,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,36,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,34,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,36,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,22,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,23,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,17,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,14,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,25,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,15,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [28]:
type(raw_csv_data)

pandas.core.frame.DataFrame

In [29]:
df.drop(['ID'], axis = 1)

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [30]:
df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,3,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,20,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,11,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,10,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,11,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,30,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,11,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,3,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
670,14,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,28,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,36,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,22,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,1,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,29,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,25,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,34,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,5,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,22,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,15,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,29,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,26,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,29,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,22,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,36,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,36,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,34,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,36,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,22,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,23,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,17,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,14,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,25,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,15,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [31]:
df = df.drop(['ID'], axis = 1)

In [32]:
df

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [33]:
# df = raw_csv_data.copy, thus the orignal data set is left untouched
raw_csv_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,3,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,20,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,11,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,10,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,11,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,30,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,11,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,3,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
670,14,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,28,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,36,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,22,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,1,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,29,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,25,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,34,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,5,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,22,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,15,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,29,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,26,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,29,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,22,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,36,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,36,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,34,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,36,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,22,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,23,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,17,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,14,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,25,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,15,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [ ]:
#Exercise to drop the Age Column from the df data set and 
# Assign the new spread to a data set called "df_no_age "

In [34]:
#Exercise to drop the Age Column from the df data set and assign the new spread to a data set called "df_no_age "
df_no_age = df.drop(['Age'], axis = 1)

In [35]:
df_no_age

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,205.917,32,1,2,1,2
20,10,12/08/2015,330,16,205.917,25,2,0,0,8
21,11,03/08/2015,179,51,205.917,31,1,0,0,1
22,13,10/08/2015,361,52,205.917,27,1,1,4,40
23,28,14/08/2015,260,50,205.917,23,1,4,0,4
24,18,17/08/2015,289,36,205.917,30,1,2,1,8
25,25,24/08/2015,361,52,205.917,27,1,1,4,7
26,23,04/08/2015,289,36,205.917,30,1,2,1,1
27,28,12/08/2015,157,27,205.917,22,1,0,0,4
28,18,19/08/2015,289,36,205.917,30,1,2,1,8
29,23,28/08/2015,179,51,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,246.288,25,1,2,0,4
671,19,26/04/2018,225,26,246.288,24,1,1,2,8
672,14,26/04/2018,118,13,246.288,31,1,1,0,2
673,27,27/04/2018,179,26,246.288,19,3,0,0,2
674,22,07/05/2018,235,11,237.656,29,3,1,1,8
675,19,09/05/2018,225,15,237.656,28,4,2,2,3
676,28,09/05/2018,235,16,237.656,25,3,0,0,2
677,8,09/05/2018,118,10,237.656,28,1,0,0,3
678,26,09/05/2018,235,20,237.656,38,1,1,0,8
679,13,10/05/2018,179,26,237.656,19,3,0,0,1
680,28,10/05/2018,291,31,237.656,25,1,1,1,2
681,14,10/05/2018,225,15,237.656,28,4,2,2,8
682,19,11/05/2018,300,26,237.656,25,1,2,1,64
683,22,11/05/2018,225,15,237.656,28,4,2,2,8
684,27,11/05/2018,179,26,237.656,19,3,0,0,2
685,23,14/05/2018,118,13,237.656,31,1,1,0,2
686,5,15/05/2018,118,13,237.656,31,1,1,0,3
687,28,15/05/2018,118,10,237.656,28,1,0,0,1
688,0,15/05/2018,118,13,237.656,31,1,1,0,0
689,27,16/05/2018,179,26,237.656,19,3,0,0,2
690,0,16/05/2018,378,49,237.656,21,1,2,4,0
691,16,18/05/2018,179,22,237.656,22,2,2,0,1
692,10,21/05/2018,155,12,237.656,25,1,2,0,48
693,10,21/05/2018,235,16,237.656,25,3,0,0,8
694,22,23/05/2018,291,31,237.656,25,1,1,1,8
695,10,23/05/2018,179,22,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,237.656,25,1,1,1,2

In [36]:
#To exermine a respective column
df['Reason for Absence']

0      26
1       0
2      23
3       7
4      23
5      23
6      22
7      23
8      19
9      22
10      1
11      1
12     11
13     11
14     23
15     14
16     23
17     21
18     11
19     23
20     10
21     11
22     13
23     28
24     18
25     25
26     23
27     28
28     18
29     23
       ..
670    28
671    19
672    14
673    27
674    22
675    19
676    28
677     8
678    26
679    13
680    28
681    14
682    19
683    22
684    27
685    23
686     5
687    28
688     0
689    27
690     0
691    16
692    10
693    10
694    22
695    10
696     6
697    10
698    23
699    28
Name: Reason for Absence, Length: 700, dtype: int64

In [37]:
df['Reason for Absence'].min()

0

In [38]:
df['Reason for Absence'].max()

28

In [39]:
pd.unique(df['Reason for Absence'])

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16])

In [40]:
df['Reason for Absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16])

In [42]:
len(df['Reason for Absence'].unique())

28

In [43]:
sorted(df['Reason for Absence'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [54]:
# Using **Pandas**, the `.get_dummies()` method can be used to apply dummy variables.
# We can use the following to check if every employee has a reason for absence.
# Each employee is expected to have only one reason at a time = 1

reason_columns = pd.get_dummies(df['Reason for Absence'])

In [55]:
reason_columns

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
10,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
671,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
672,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
673,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
674,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
675,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
676,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
677,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
678,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
679,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
680,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
681,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
682,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
683,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
684,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
685,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
686,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
687,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
688,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
689,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
690,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
691,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
692,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
693,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
694,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
695,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [56]:
# To check if any values are missing in the result.
# Sum all values of a row in a column called 'check'
# Missing Value = 0, Single Value = 1 (what is expected), Multiple Appearances of 1 or other number (not expected) = 2,3,4, etc.

reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
10,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
21,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
22,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
671,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
672,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
673,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
674,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
675,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
676,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
677,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
678,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
679,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
680,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
681,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
682,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
683,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
684,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
685,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
686,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
687,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
688,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
689,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
690,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
691,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
692,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
693,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
694,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
695,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
696,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
697,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1

In [57]:
# To confirm the results above
# Add the sum of numbers in the check column

reason_columns['check'].sum(axis=0)

700

In [59]:
# To confirm the total of 700 is realized from adding only 1s across all rows.
# The unique method may be used to confirm if there are different value.

reason_columns['check'].unique()

array([1])

In [60]:
#After this is confirmed, the 'check' column may be dropped.

reason_columns = reason_columns.drop(['check'], axis = 1)
reason_columns

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
10,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
671,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
672,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
673,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
674,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
675,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
676,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
677,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
678,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
679,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
680,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
681,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
682,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
683,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
684,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
685,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
686,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
687,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
688,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
689,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
690,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
691,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
692,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
693,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
694,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
695,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [ ]:
# Exercise: Split the ‘Age’ column into multiple dummies. 
# Store the output in a new variable, called age_dummies.

In [61]:
age_dummies= pd.get_dummies(df['Age'])
age_dummies

,27,28,29,30,31,32,33,34,36,37,38,39,40,41,43,46,47,48,49,50,58
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
20,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
22,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
671,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
672,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
673,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
674,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
675,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
676,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
677,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
678,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
679,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
680,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
681,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
682,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
683,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
684,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
685,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
686,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
687,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
688,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
689,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
690,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
691,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
692,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
693,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
694,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
695,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
696,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
697,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [62]:
# To avoid multicollinearity, 
# The first column of 0 for the Reason of Absence dummy variable must be dropped
# This means dropping employee absent due to reason number 0 (unknown reason)

reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True)

In [63]:
reason_columns

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
671,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
672,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
673,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
674,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
675,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
676,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
677,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
678,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
679,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
680,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
681,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
682,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
683,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
684,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
685,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
686,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
687,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
688,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
689,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
690,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
691,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
692,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
693,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
694,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
695,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [64]:
# Categorizing the Various Reasons for Absence

In [65]:
# To obtain a brief od the column names or headers
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [66]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28])

In [67]:
# STEP 1
# Dropping the 'Reason for Absence' column in the df table to avoid multicollinearity.

df = df.drop(['Reason for Absence'], axis = 1)

In [68]:
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...
670,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [ ]:
# STEP 2: GROUP THE REASONS FOR ABSENCE
# Organize each reason into groups.
# Note that after splitting these variables or objects into smaller pieces, 
# each piece itself will be a DataFrame object as well.

In [69]:
# use the .loc method to retrieve all the rows and columns 1 to 14

reason_columns.loc[:, '1':'14']

     1   2   3   4   5   6   7   8   9   10  11  12  13  14
0     0   0   0   0   0   0   0   0   0   0   0   0   0   0
1     0   0   0   0   0   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0   0   0   0   0   0
3     0   0   0   0   0   0   1   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   0   0   0   0   0   0   0
5     0   0   0   0   0   0   0   0   0   0   0   0   0   0
6     0   0   0   0   0   0   0   0   0   0   0   0   0   0
7     0   0   0   0   0   0   0   0   0   0   0   0   0   0
8     0   0   0   0   0   0   0   0   0   0   0   0   0   0
9     0   0   0   0   0   0   0   0   0   0   0   0   0   0
10    1   0   0   0   0   0   0   0   0   0   0   0   0   0
11    1   0   0   0   0   0   0   0   0   0   0   0   0   0
12    0   0   0   0   0   0   0   0   0   0   1   0   0   0
13    0   0   0   0   0   0   0   0   0   0   1   0   0   0
14    0   0   0   0   0   0   0   0   0   0   0   0   0   0
15    0   0   0   0   0   0   0   0   0   0   0   0   0   1
16    0   0   0   0   0   0   0   0   0   0   0   0   0   0
17    0   0   0   0   0   0   0   0   0   0   0   0   0   0
18    0   0   0   0   0   0   0   0   0   0   1   0   0   0
19    0   0   0   0   0   0   0   0   0   0   0   0   0   0
20    0   0   0   0   0   0   0   0   0   1   0   0   0   0
21    0   0   0   0   0   0   0   0   0   0   1   0   0   0
22    0   0   0   0   0   0   0   0   0   0   0   0   1   0
23    0   0   0   0   0   0   0   0   0   0   0   0   0   0
24    0   0   0   0   0   0   0   0   0   0   0   0   0   0
25    0   0   0   0   0   0   0   0   0   0   0   0   0   0
26    0   0   0   0   0   0   0   0   0   0   0   0   0   0
27    0   0   0   0   0   0   0   0   0   0   0   0   0   0
28    0   0   0   0   0   0   0   0   0   0   0   0   0   0
29    0   0   0   0   0   0   0   0   0   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
670   0   0   0   0   0   0   0   0   0   0   0   0   0   0
671   0   0   0   0   0   0   0   0   0   0   0   0   0   0
672   0   0   0   0   0   0   0   0   0   0   0   0   0   1
673   0   0   0   0   0   0   0   0   0   0   0   0   0   0
674   0   0   0   0   0   0   0   0   0   0   0   0   0   0
675   0   0   0   0   0   0   0   0   0   0   0   0   0   0
676   0   0   0   0   0   0   0   0   0   0   0   0   0   0
677   0   0   0   0   0   0   0   1   0   0   0   0   0   0
678   0   0   0   0   0   0   0   0   0   0   0   0   0   0
679   0   0   0   0   0   0   0   0   0   0   0   0   1   0
680   0   0   0   0   0   0   0   0   0   0   0   0   0   0
681   0   0   0   0   0   0   0   0   0   0   0   0   0   1
682   0   0   0   0   0   0   0   0   0   0   0   0   0   0
683   0   0   0   0   0   0   0   0   0   0   0   0   0   0
684   0   0   0   0   0   0   0   0   0   0   0   0   0   0
685   0   0   0   0   0   0   0   0   0   0   0   0   0   0
686   0   0   0   0   1   0   0   0   0   0   0   0   0   0
687   0   0   0   0   0   0   0   0   0   0   0   0   0   0
688   0   0   0   0   0   0   0   0   0   0   0   0   0   0
689   0   0   0   0   0   0   0   0   0   0   0   0   0   0
690   0   0   0   0   0   0   0   0   0   0   0   0   0   0
691   0   0   0   0   0   0   0   0   0   0   0   0   0   0
692   0   0   0   0   0   0   0   0   0   1   0   0   0   0
693   0   0   0   0   0   0   0   0   0   1   0   0   0   0
694   0   0   0   0   0   0   0   0   0   0   0   0   0   0
695   0   0   0   0   0   0   0   0   0   1   0   0   0   0
696   0   0   0   0   0   1   0   0   0   0   0   0   0   0
697   0   0   0   0   0   0   0   0   0   1   0   0   0   0
698   0   0   0   0   0   0   0   0   0   0   0   0   0   0
699   0   0   0   0   0   0   0   0   0   0   0   0   0   0

[700 rows x 14 columns]

In [70]:
# use the .loc method to retrieve all the rows and columns 15 to 17

reason_columns.loc[:, '15':'17']

     15  16  17
0     0   0   0
1     0   0   0
2     0   0   0
3     0   0   0
4     0   0   0
5     0   0   0
6     0   0   0
7     0   0   0
8     0   0   0
9     0   0   0
10    0   0   0
11    0   0   0
12    0   0   0
13    0   0   0
14    0   0   0
15    0   0   0
16    0   0   0
17    0   0   0
18    0   0   0
19    0   0   0
20    0   0   0
21    0   0   0
22    0   0   0
23    0   0   0
24    0   0   0
25    0   0   0
26    0   0   0
27    0   0   0
28    0   0   0
29    0   0   0
..   ..  ..  ..
670   0   0   0
671   0   0   0
672   0   0   0
673   0   0   0
674   0   0   0
675   0   0   0
676   0   0   0
677   0   0   0
678   0   0   0
679   0   0   0
680   0   0   0
681   0   0   0
682   0   0   0
683   0   0   0
684   0   0   0
685   0   0   0
686   0   0   0
687   0   0   0
688   0   0   0
689   0   0   0
690   0   0   0
691   0   1   0
692   0   0   0
693   0   0   0
694   0   0   0
695   0   0   0
696   0   0   0
697   0   0   0
698   0   0   0
699   0   0   0

[700 rows x 3 columns]

In [71]:
# The .max() method can be used to retrieve the values, across all the rows.
# The following syntax will retrieve any employees with a 'Reason for Absence' that falls between the Group of 1 to 14 

reason_columns.loc[:, '1':'14'].max(axis=1)

0      0
1      0
2      0
3      1
4      0
5      0
6      0
7      0
8      0
9      0
10     1
11     1
12     1
13     1
14     0
15     1
16     0
17     0
18     1
19     0
20     1
21     1
22     1
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
670    0
671    0
672    1
673    0
674    0
675    0
676    0
677    1
678    0
679    1
680    0
681    1
682    0
683    0
684    0
685    0
686    1
687    0
688    0
689    0
690    0
691    0
692    1
693    1
694    0
695    1
696    1
697    1
698    0
699    0
Length: 700, dtype: uint8

In [72]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1)

In [73]:
reason_type_1

0      0
1      0
2      0
3      1
4      0
5      0
6      0
7      0
8      0
9      0
10     1
11     1
12     1
13     1
14     0
15     1
16     0
17     0
18     1
19     0
20     1
21     1
22     1
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
670    0
671    0
672    1
673    0
674    0
675    0
676    0
677    1
678    0
679    1
680    0
681    1
682    0
683    0
684    0
685    0
686    1
687    0
688    0
689    0
690    0
691    0
692    1
693    1
694    0
695    1
696    1
697    1
698    0
699    0
Length: 700, dtype: uint8

In [ ]:
# Concatenate Column Values

In [74]:
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...
670,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [75]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
5,10/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
6,17/07/2015,361,52,28,239.554,27,1,1,4,8,0,0,0,1
7,24/07/2015,260,50,36,239.554,23,1,4,0,4,0,0,0,1
8,06/07/2015,155,12,34,239.554,25,1,2,0,40,0,0,1,0
9,13/07/2015,235,11,37,239.554,29,3,1,1,8,0,0,0,1
10,20/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
11,14/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
12,15/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
13,15/07/2015,179,51,38,239.554,31,1,0,0,1,1,0,0,0
14,15/07/2015,179,51,38,239.554,31,1,0,0,4,0,0,0,1
15,17/07/2015,246,25,41,239.554,23,1,0,0,8,1,0,0,0
16,17/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
17,27/07/2015,179,51,38,239.554,31,1,0,0,8,0,0,1,0
18,30/07/2015,189,29,33,239.554,25,1,2,2,8,1,0,0,0
19,05/08/2015,248,25,47,205.917,32,1,2,1,2,0,0,0,1
20,12/08/2015,330,16,28,205.917,25,2,0,0,8,1,0,0,0
21,03/08/2015,179,51,38,205.917,31,1,0,0,1,1,0,0,0
22,10/08/2015,361,52,28,205.917,27,1,1,4,40,1,0,0,0
23,14/08/2015,260,50,36,205.917,23,1,4,0,4,0,0,0,1
24,17/08/2015,289,36,33,205.917,30,1,2,1,8,0,0,1,0
25,24/08/2015,361,52,28,205.917,27,1,1,4,7,0,0,0,1
26,04/08/2015,289,36,33,205.917,30,1,2,1,1,0,0,0,1
27,12/08/2015,157,27,29,205.917,22,1,0,0,4,0,0,0,1
28,19/08/2015,289,36,33,205.917,30,1,2,1,8,0,0,1,0
29,28/08/2015,179,51,38,205.917,31,1,0,0,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,24/04/2018,155,12,34,246.288,25,1,2,0,4,0,0,0,1
671,26/04/2018,225,26,28,246.288,24,1,1,2,8,0,0,1,0
672,26/04/2018,118,13,50,246.288,31,1,1,0,2,1,0,0,0
673,27/04/2018,179,26,30,246.288,19,3,0,0,2,0,0,0,1
674,07/05/2018,235,11,37,237.656,29,3,1,1,8,0,0,0,1
675,09/05/2018,225,15,41,237.656,28,4,2,2,3,0,0,1,0
676,09/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
677,09/05/2018,118,10,37,237.656,28,1,0,0,3,1,0,0,0
678,09/05/2018,235,20,43,237.656,38,1,1,0,8,0,0,0,1
679,10/05/2018,179,26,30,237.656,19,3,0,0,1,1,0,0,0
680,10/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1
681,10/05/2018,225,15,41,237.656,28,4,2,2,8,1,0,0,0
682,11/05/2018,300,26,43,237.656,25,1,2,1,64,0,0,1,0
683,11/05/2018,225,15,41,237.656,28,4,2,2,8,0,0,0,1
684,11/05/2018,179,26,30,237.656,19,3,0,0,2,0,0,0,1
685,14/05/2018,118,13,50,237.656,31,1,1,0,2,0,0,0,1
686,15/05/2018,118,13,50,237.656,31,1,1,0,3,1,0,0,0
687,15/05/2018,118,10,37,237.656,28,1,0,0,1,0,0,0,1
688,15/05/2018,118,13,50,237.656,31,1,1,0,0,0,0,0,0
689,16/05/2018,179,26,30,237.656,19,3,0,0,2,0,0,0,1
690,16/05/2018,378,49,36,237.656,21,1,2,4,0,0,0,0,0
691,18/05/2018,179,22,40,237.656,22,2,2,0,1,0,1,0,0
692,21/05/2018,155,12,34,237.656,25,1,2,0,48,1,0,0,0
693,21/05/2018,235,16,32,237.656,25,3,0,0,8,1,0,0,0
694,23/05/2018,291,31,40,237.656,25,1,1,1,8,0,0,0,1
695,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

In [ ]:
# Next activity is to assign column names in a more meaningful way

In [77]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [79]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [80]:
df.columns = column_names

In [81]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [ ]:
# Exercise: Concatenate the df_no_age and age_dummies objects you previously obtained.
# Store the result in a new object called df_concatenated.

In [82]:
df_concatenated = pd.concat([df_no_age, age_dummies], axis=1)
df_concatenated

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,27,28,29,30,31,32,33,34,36,37,38,39,40,41,43,46,47,48,49,50,58
0,26,07/07/2015,289,36,239.554,30,1,2,1,4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,14/07/2015,118,13,239.554,31,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,7,16/07/2015,279,5,239.554,24,1,2,0,4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,23,23/07/2015,289,36,239.554,30,1,2,1,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,23,10/07/2015,179,51,239.554,31,1,0,0,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,22,17/07/2015,361,52,239.554,27,1,1,4,8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,23,24/07/2015,260,50,239.554,23,1,4,0,4,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
8,19,06/07/2015,155,12,239.554,25,1,2,0,40,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
9,22,13/07/2015,235,11,239.554,29,3,1,1,8,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
10,1,20/07/2015,260,50,239.554,23,1,4,0,8,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
11,1,14/07/2015,260,50,239.554,23,1,4,0,8,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
12,11,15/07/2015,260,50,239.554,23,1,4,0,8,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
13,11,15/07/2015,179,51,239.554,31,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
14,23,15/07/2015,179,51,239.554,31,1,0,0,4,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
15,14,17/07/2015,246,25,239.554,23,1,0,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
16,23,17/07/2015,179,51,239.554,31,1,0,0,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
17,21,27/07/2015,179,51,239.554,31,1,0,0,8,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
18,11,30/07/2015,189,29,239.554,25,1,2,2,8,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,23,05/08/2015,248,25,205.917,32,1,2,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
20,10,12/08/2015,330,16,205.917,25,2,0,0,8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,11,03/08/2015,179,51,205.917,31,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
22,13,10/08/2015,361,52,205.917,27,1,1,4,40,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,28,14/08/2015,260,50,205.917,23,1,4,0,4,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
24,18,17/08/2015,289,36,205.917,30,1,2,1,8,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,25,24/08/2015,361,52,205.917,27,1,1,4,7,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,23,04/08/2015,289,36,205.917,30,1,2,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,28,12/08/2015,157,27,205.917,22,1,0,0,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,18,19/08/2015,289,36,205.917,30,1,2,1,8,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29,23,28/08/2015,179,51,205.917,31,1,0,0,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,246.288,25,1,2,0,4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
671,19,26/04/2018,225,26,246.288,24,1,1,2,8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
672,14,26/04/2018,118,13,246.288,31,1,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
673,27,27/04/2018,179,26,246.288,19,3,0,0,2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
674,22,07/05/2018,235,11,237.656,29,3,1,1,8,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
675,19,09/05/2018,225,15,237.656,28,4,2,2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
676,28,09/05/2018,235,16,237.656,25,3,0,0,2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
677,8,09/05/2018,118,10,237.656,28,1,0,0,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
678,26,09/05/2018,235,20,237.656,38,1,1,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
679,13,10/05/2018,179,26,237.656,19,3,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
680,28,10/05/2018,291,31,237.656,25,1,1,1,2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
681,14,10/05/2018,225,15,237.656,28,4,2,2,8,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
682,19,11/05/2018,300,26,237.656,25,1,2,1,64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
683,22,11/05/2018,225,15,237.656,28,4,2,2,8,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
684,27,11/05/2018,179,26,237.656,19,3,0,0,2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
685,23,14/05/2018,118,13,237.656,31,1,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
686,5,15/05/2018,118,13,237.656,31,1,1,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
687,28,15/05/2018,118,10,237.656,28,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
688,0,15/05/2018,118,13,237.656,31,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
689,27,16/05/2018,179,26,237.656,19,3,0,0,2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
690,0,16/05/2018,378,49,237.656,21,1,2,4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
691,16,18/05/2018,179,22,237.656,22,2,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
692,10,21/05/2018,155,12,237.656,25,1,2,0,48,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
693,10,21/05/2018,235,16,237.656,25,3,0,0,8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
694,22,23/05/2018,291,31,237.656,25,1,1,1,8,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
695,10,23/05/2018,179,22,237.656,22,2,2,0,8,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
696,6,23/05/2018,225,26,237.656,24,1,1,2,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
697,10,24/05/2018,330,16,237.656,25,2,0,0,8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
698,23,24/05/2018,235,16,237.656,25,3,0,0,2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
699,28,31/05/2018,291,31,237.656,25,1,1,1,2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [ ]:
# How to Reorder Columns in a DataFrame in Python

In [83]:
column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [84]:
df = df[column_names_reordered]

In [85]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [ ]:
# Exercise: Reorder the columns from df_concatented in such a way that the 
# ‘Absenteeism Time in Hours’ column appears at the far right of the data set.

In [86]:
df_concatenated.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 'Absenteeism Time in Hours', 27,
       28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 46, 47, 48,
       49, 50, 58], dtype=object)

In [87]:
age_column_names = ['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 27,
       28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 46, 47, 48,
       49, 50, 58, 'Absenteeism Time in Hours']

In [88]:
df_concatenated = df_concatenated[age_column_names]

In [89]:
df_concatenated.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,27,28,29,30,31,32,33,34,36,37,38,39,40,41,43,46,47,48,49,50,58,Absenteeism Time in Hours
0,26,07/07/2015,289,36,239.554,30,1,2,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
1,0,14/07/2015,118,13,239.554,31,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2
3,7,16/07/2015,279,5,239.554,24,1,2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,4
4,23,23/07/2015,289,36,239.554,30,1,2,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2

In [ ]:
# Using Checkpoints to Ease Your Work
# CREATING A CHECKPOINT

In [90]:
df_reason_mod = df.copy()

In [91]:
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,0,0,0,1,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,0,0,0,1,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,0,0,0,1,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,0,0,1,0,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,0,0,0,1,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,1,0,0,0,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,1,0,0,0,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,1,0,0,0,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,1,0,0,0,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,1,0,0,0,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,0,0,0,1,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,0,0,1,0,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,1,0,0,0,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,0,0,0,1,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,1,0,0,0,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,1,0,0,0,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,1,0,0,0,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,0,0,0,1,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,0,0,1,0,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,0,0,0,1,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,0,0,0,1,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,0,0,0,1,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,0,0,1,0,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,0,0,0,1,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,0,0,1,0,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,1,0,0,0,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,0,0,0,1,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,0,0,0,1,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,0,0,1,0,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,0,0,0,1,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,1,0,0,0,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,0,0,0,1,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,1,0,0,0,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,0,0,0,1,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,1,0,0,0,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,0,0,1,0,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,0,0,0,1,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,0,0,0,1,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,0,0,0,1,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,1,0,0,0,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,0,0,0,1,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,0,0,0,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,0,0,0,1,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,0,0,0,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,0,1,0,0,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,1,0,0,0,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,1,0,0,0,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,0,0,0,1,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,1,0,0,0,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,1,0,0,0,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,1,0,0,0,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,0,0,0,1,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,0,0,0,1,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [ ]:
# Exercise: Create a checkpoint of your work on the exercises, 
# storing the current output in a variable called df_checkpoint.

In [92]:
df_checkpoint = df_concatenated.copy()
df_checkpoint

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,27,28,29,30,31,32,33,34,36,37,38,39,40,41,43,46,47,48,49,50,58,Absenteeism Time in Hours
0,26,07/07/2015,289,36,239.554,30,1,2,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
1,0,14/07/2015,118,13,239.554,31,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2
3,7,16/07/2015,279,5,239.554,24,1,2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,4
4,23,23/07/2015,289,36,239.554,30,1,2,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
5,23,10/07/2015,179,51,239.554,31,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2
6,22,17/07/2015,361,52,239.554,27,1,1,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8
7,23,24/07/2015,260,50,239.554,23,1,4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,4
8,19,06/07/2015,155,12,239.554,25,1,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,40
9,22,13/07/2015,235,11,239.554,29,3,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,8
10,1,20/07/2015,260,50,239.554,23,1,4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,8
11,1,14/07/2015,260,50,239.554,23,1,4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,8
12,11,15/07/2015,260,50,239.554,23,1,4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,8
13,11,15/07/2015,179,51,239.554,31,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
14,23,15/07/2015,179,51,239.554,31,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,4
15,14,17/07/2015,246,25,239.554,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8
16,23,17/07/2015,179,51,239.554,31,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2
17,21,27/07/2015,179,51,239.554,31,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,8
18,11,30/07/2015,189,29,239.554,25,1,2,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8
19,23,05/08/2015,248,25,205.917,32,1,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2
20,10,12/08/2015,330,16,205.917,25,2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8
21,11,03/08/2015,179,51,205.917,31,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
22,13,10/08/2015,361,52,205.917,27,1,1,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40
23,28,14/08/2015,260,50,205.917,23,1,4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,4
24,18,17/08/2015,289,36,205.917,30,1,2,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8
25,25,24/08/2015,361,52,205.917,27,1,1,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7
26,23,04/08/2015,289,36,205.917,30,1,2,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
27,28,12/08/2015,157,27,205.917,22,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
28,18,19/08/2015,289,36,205.917,30,1,2,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8
29,23,28/08/2015,179,51,205.917,31,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,246.288,25,1,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,4
671,19,26/04/2018,225,26,246.288,24,1,1,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8
672,14,26/04/2018,118,13,246.288,31,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,2
673,27,27/04/2018,179,26,246.288,19,3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
674,22,07/05/2018,235,11,237.656,29,3,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,8
675,19,09/05/2018,225,15,237.656,28,4,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3
676,28,09/05/2018,235,16,237.656,25,3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
677,8,09/05/2018,118,10,237.656,28,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,3
678,26,09/05/2018,235,20,237.656,38,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,8
679,13,10/05/2018,179,26,237.656,19,3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
680,28,10/05/2018,291,31,237.656,25,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,2
681,14,10/05/2018,225,15,237.656,28,4,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8
682,19,11/05/2018,300,26,237.656,25,1,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,64
683,22,11/05/2018,225,15,237.656,28,4,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8
684,27,11/05/2018,179,26,237.656,19,3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
685,23,14/05/2018,118,13,237.656,31,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,2
686,5,15/05/2018,118,13,237.656,31,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,3
687,28,15/05/2018,118,10,237.656,28,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
688,0,15/05/2018,118,13,237.656,31,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
689,27,16/05/2018,179,26,237.656,19,3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
690,0,16/05/2018,378,49,237.656,21,1,2,4,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
691,16,18/05/2018,179,22,237.656,22,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
692,10,21/05/2018,155,12,237.656,25,1,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,48
693,10,21/05/2018,235,16,237.656,25,3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8
694,22,23/05/2018,291,31,237.656,25,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,8
695,10,23/05/2018,179,22,237.656,22,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,8
696,6,23/05/2018,225,26,237.656,24,1,1,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
697,10,24/05/2018,330,16,237.656,25,2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8
698,23,24/05/2018,235,16,237.656,25,3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
699,28,31/05/2018,291,31,237.656,25,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,2

In [ ]:
# Analyzing the "Date" Column

In [93]:
df_reason_mod['Date']

0      07/07/2015
1      14/07/2015
2      15/07/2015
3      16/07/2015
4      23/07/2015
5      10/07/2015
6      17/07/2015
7      24/07/2015
8      06/07/2015
9      13/07/2015
10     20/07/2015
11     14/07/2015
12     15/07/2015
13     15/07/2015
14     15/07/2015
15     17/07/2015
16     17/07/2015
17     27/07/2015
18     30/07/2015
19     05/08/2015
20     12/08/2015
21     03/08/2015
22     10/08/2015
23     14/08/2015
24     17/08/2015
25     24/08/2015
26     04/08/2015
27     12/08/2015
28     19/08/2015
29     28/08/2015
          ...
670    24/04/2018
671    26/04/2018
672    26/04/2018
673    27/04/2018
674    07/05/2018
675    09/05/2018
676    09/05/2018
677    09/05/2018
678    09/05/2018
679    10/05/2018
680    10/05/2018
681    10/05/2018
682    11/05/2018
683    11/05/2018
684    11/05/2018
685    14/05/2018
686    15/05/2018
687    15/05/2018
688    15/05/2018
689    16/05/2018
690    16/05/2018
691    18/05/2018
692    21/05/2018
693    21/05/2018
694    23/05/2018
695    23/05/2018
696    23/05/2018
697    24/05/2018
698    24/05/2018
699    31/05/2018
Name: Date, Length: 700, dtype: object

In [94]:
# To confirm the type of data
type(df_reason_mod['Date'])

pandas.core.series.Series

In [95]:
# To confirm the type of data of a particular cell
type(df_reason_mod['Date'][0])

str

In [96]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')

In [97]:
df_reason_mod['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
5     2015-07-10
6     2015-07-17
7     2015-07-24
8     2015-07-06
9     2015-07-13
10    2015-07-20
11    2015-07-14
12    2015-07-15
13    2015-07-15
14    2015-07-15
15    2015-07-17
16    2015-07-17
17    2015-07-27
18    2015-07-30
19    2015-08-05
20    2015-08-12
21    2015-08-03
22    2015-08-10
23    2015-08-14
24    2015-08-17
25    2015-08-24
26    2015-08-04
27    2015-08-12
28    2015-08-19
29    2015-08-28
         ...
670   2018-04-24
671   2018-04-26
672   2018-04-26
673   2018-04-27
674   2018-05-07
675   2018-05-09
676   2018-05-09
677   2018-05-09
678   2018-05-09
679   2018-05-10
680   2018-05-10
681   2018-05-10
682   2018-05-11
683   2018-05-11
684   2018-05-11
685   2018-05-14
686   2018-05-15
687   2018-05-15
688   2018-05-15
689   2018-05-16
690   2018-05-16
691   2018-05-18
692   2018-05-21
693   2018-05-21
694   2018-05-23
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [98]:
type(df_reason_mod['Date'])

pandas.core.series.Series

In [99]:
type(df_reason_mod['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [100]:
df_reason_mod.info() # shows 64 bit datetime values in the date column.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason_1                   700 non-null    uint8
 1   Reason_2                   700 non-null    uint8
 2   Reason_3                   700 non-null    uint8
 3   Reason_4                   700 non-null    uint8
 4   Date                       700 non-null    datetime64[ns]
 5   Transportation Expense     700 non-null    int64
 6   Distance to Work           700 non-null    int64
 7   Age                        700 non-null    int64
 8   Daily Work Load Average    700 non-null    float64
 9   Body Mass Index            700 non-null    int64
 10  Education                  700 non-null    int64
 11  Children                   700 non-null    int64
 12  Pets                       700 non-null    int64
 13  Absenteeism Time in Hours  700 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(8), uint8(4)
memory usage: 57.5 KB

In [ ]:
# EXTRACTING THE MONTH VALUE FROM THE DATE COLUMN

In [101]:
df_reason_mod['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [102]:
df_reason_mod['Date'][0].month

7

In [104]:
list_months = []
list_months

[]

In [ ]:
for i in range (700):
    list_months.append(df_reason_mod['Date'][i].month)
    #used for a specific number of rows

In [107]:
df_reason_mod.shape

(700, 14)

In [109]:
for i in range (df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)
    #used for dynamic tables, incase the number of rows change over time

In [110]:
list_months

[7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [111]:
len(list_months)

700

In [112]:
df_reason_mod['Month Value'] = list_months

In [113]:
df_reason_mod.head(20)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7
5,0,0,0,1,2015-07-10,179,51,38,239.554,31,1,0,0,2,7
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7
8,0,0,1,0,2015-07-06,155,12,34,239.554,25,1,2,0,40,7
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7
10,1,0,0,0,2015-07-20,260,50,36,239.554,23,1,4,0,8,7
11,1,0,0,0,2015-07-14,260,50,36,239.554,23,1,4,0,8,7
12,1,0,0,0,2015-07-15,260,50,36,239.554,23,1,4,0,8,7
13,1,0,0,0,2015-07-15,179,51,38,239.554,31,1,0,0,1,7
14,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,4,7
15,1,0,0,0,2015-07-17,246,25,41,239.554,23,1,0,0,8,7
16,0,0,0,1,2015-07-17,179,51,38,239.554,31,1,0,0,2,7
17,0,0,1,0,2015-07-27,179,51,38,239.554,31,1,0,0,8,7
18,1,0,0,0,2015-07-30,189,29,33,239.554,25,1,2,2,8,7
19,0,0,0,1,2015-08-05,248,25,47,205.917,32,1,2,1,2,8

In [ ]:
# EXTRACTING THE WEEKDAY VALUE FROM THE DATE COLUMN

In [115]:
df_reason_mod['Date'][699]

Timestamp('2018-05-31 00:00:00')

In [114]:
df_reason_mod['Date'][699].weekday()
# This should yield 3, a Thursday, which matches the 2018 calendar.

3

In [120]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [121]:
df_reason_mod['Date of the week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [122]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Date of the week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [123]:
# Exercise_1: Drop the ‘Date’ column from the df_reason_mod DataFrame.

In [125]:
df_reason_mod = df_reason_mod.drop(['Date'], axis = 1)

In [126]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Date of the week
0,0,0,0,1,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,1,2,1,2,7,3

In [ ]:
# Exercise_2: Re-order the columns in df_reason_mod so that,
# “Month Value” and “Day of the Week” appear exactly where “Date” used to be. 
# That is, between “Reason_4” and “Transportation Expense”.

In [127]:
df_reason_mod.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Date of the week'], dtype=object)

In [128]:
new_header_arrangement = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Date of the week', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [130]:
df_reason_mod = df_reason_mod[new_header_arrangement]

In [131]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Date of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2

In [132]:
df_reason_date_mod = df_reason_mod.copy()
df_reason_date_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Date of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2
5,0,0,0,1,7,4,179,51,38,239.554,31,1,0,0,2
6,0,0,0,1,7,4,361,52,28,239.554,27,1,1,4,8
7,0,0,0,1,7,4,260,50,36,239.554,23,1,4,0,4
8,0,0,1,0,7,0,155,12,34,239.554,25,1,2,0,40
9,0,0,0,1,7,0,235,11,37,239.554,29,3,1,1,8
10,1,0,0,0,7,0,260,50,36,239.554,23,1,4,0,8
11,1,0,0,0,7,1,260,50,36,239.554,23,1,4,0,8
12,1,0,0,0,7,2,260,50,36,239.554,23,1,4,0,8
13,1,0,0,0,7,2,179,51,38,239.554,31,1,0,0,1
14,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,4
15,1,0,0,0,7,4,246,25,41,239.554,23,1,0,0,8
16,0,0,0,1,7,4,179,51,38,239.554,31,1,0,0,2
17,0,0,1,0,7,0,179,51,38,239.554,31,1,0,0,8
18,1,0,0,0,7,3,189,29,33,239.554,25,1,2,2,8
19,0,0,0,1,8,2,248,25,47,205.917,32,1,2,1,2
20,1,0,0,0,8,2,330,16,28,205.917,25,2,0,0,8
21,1,0,0,0,8,0,179,51,38,205.917,31,1,0,0,1
22,1,0,0,0,8,0,361,52,28,205.917,27,1,1,4,40
23,0,0,0,1,8,4,260,50,36,205.917,23,1,4,0,4
24,0,0,1,0,8,0,289,36,33,205.917,30,1,2,1,8
25,0,0,0,1,8,0,361,52,28,205.917,27,1,1,4,7
26,0,0,0,1,8,1,289,36,33,205.917,30,1,2,1,1
27,0,0,0,1,8,2,157,27,29,205.917,22,1,0,0,4
28,0,0,1,0,8,2,289,36,33,205.917,30,1,2,1,8
29,0,0,0,1,8,4,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,4,1,155,12,34,246.288,25,1,2,0,4
671,0,0,1,0,4,3,225,26,28,246.288,24,1,1,2,8
672,1,0,0,0,4,3,118,13,50,246.288,31,1,1,0,2
673,0,0,0,1,4,4,179,26,30,246.288,19,3,0,0,2
674,0,0,0,1,5,0,235,11,37,237.656,29,3,1,1,8
675,0,0,1,0,5,2,225,15,41,237.656,28,4,2,2,3
676,0,0,0,1,5,2,235,16,32,237.656,25,3,0,0,2
677,1,0,0,0,5,2,118,10,37,237.656,28,1,0,0,3
678,0,0,0,1,5,2,235,20,43,237.656,38,1,1,0,8
679,1,0,0,0,5,3,179,26,30,237.656,19,3,0,0,1
680,0,0,0,1,5,3,291,31,40,237.656,25,1,1,1,2
681,1,0,0,0,5,3,225,15,41,237.656,28,4,2,2,8
682,0,0,1,0,5,4,300,26,43,237.656,25,1,2,1,64
683,0,0,0,1,5,4,225,15,41,237.656,28,4,2,2,8
684,0,0,0,1,5,4,179,26,30,237.656,19,3,0,0,2
685,0,0,0,1,5,0,118,13,50,237.656,31,1,1,0,2
686,1,0,0,0,5,1,118,13,50,237.656,31,1,1,0,3
687,0,0,0,1,5,1,118,10,37,237.656,28,1,0,0,1
688,0,0,0,0,5,1,118,13,50,237.656,31,1,1,0,0
689,0,0,0,1,5,2,179,26,30,237.656,19,3,0,0,2
690,0,0,0,0,5,2,378,49,36,237.656,21,1,2,4,0
691,0,1,0,0,5,4,179,22,40,237.656,22,2,2,0,1
692,1,0,0,0,5,0,155,12,34,237.656,25,1,2,0,48
693,1,0,0,0,5,0,235,16,32,237.656,25,3,0,0,8
694,0,0,0,1,5,2,291,31,40,237.656,25,1,1,1,8
695,1,0,0,0,5,2,179,22,40,237.656,22,2,2,0,8
696,1,0,0,0,5,2,225,26,28,237.656,24,1,1,2,3
697,1,0,0,0,5,3,330,16,28,237.656,25,2,0,0,8
698,0,0,0,1,5,3,235,16,32,237.656,25,3,0,0,2
699,0,0,0,1,5,3,291,31,40,237.656,25,1,1,1,2

In [133]:
type(df_reason_date_mod['Transportation Expense'][0])
# Monthly Transportation costs of an individual, 
# Fuel + Parking + Meals + Transport + Others, measured in dollars ($) - integer

numpy.int64

In [134]:
type(df_reason_date_mod['Distance to Work'][0])
# Distance to Work for an individual, 
# The KMs traveled from home to work, measured in KMs - integer

numpy.int64

In [135]:
type(df_reason_date_mod['Age'][0])
# Age of an of an individual - integer

numpy.int64

In [136]:
type(df_reason_date_mod['Daily Work Load Average'][0])
# Daily Work Load Average of an individual,
# Measures the average amount of time spent working per day (minutes) - float

numpy.float64

In [138]:
type(df_reason_date_mod['Body Mass Index'][0])
# Body Mass Index of an individual,
# Weight indicator for an under, normal, over or obese person,
# Logically, people weighing above the norm for their height,
# often have an additional reason for being absent from work - integer

numpy.int64

In [ ]:
# The `Education` column needs to be transformed into a dummy variable.

In [140]:
df_reason_date_mod['Education'].unique()

array([1, 3, 2, 4])

In [141]:
df_reason_date_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [142]:
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [143]:
df_reason_date_mod['Education'].unique()

array([0, 1])

In [144]:
df_reason_date_mod['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [ ]:
# FINAL CHECKPOINT

In [147]:
df_preprocessed = df_reason_date_mod.copy()
df_preprocessed.head(3)

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Date of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2

In [ ]:
#Refer to Absenteeism_Exercise_Integration.ipynb in Integration Folder for Next Steps